.bg-white {
    background-color: #eae8e0;
  }
  
  .text-blanco {
    color: #eae8e0;
  }
  
  .text-24 {
    font-size: 24px;
  }
  
  .text-20 {
    font-size: 20px;
  }
  
  .fixed-bottom {
    position: fixed;
    bottom: 0;
  }
  
  .bg-size {
    height: 20vh;
  }
  
  .decoration-none {
    text-decoration: none;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .semibold {
    font-weight: 600;
  }
  
  .p-10 {
    padding: 5rem;
  }

  .p-5 {
    padding: 3rem;
  }

  .pt-2 {
    padding-top: 2rem;
  }

  .red-text{
    color: #DB1A33;
  }
  
  .custom-border-type-entrenador {
    border-color: #DB1A33;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 13rem;           
    height: 4rem;          
    display: flex;
    flex-direction: column;
  }

  .entrenador {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    padding-top: 0.2rem;
  }
  
  .entrenadores-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
  }
  
  .foto-entrenador img {
    margin-right:  1rem;
    height: 3rem; 
    width: 3rem; 
    object-fit: cover; 
    border-radius: 50%;
  }
  
  