.bg-red {
  background-color: #db1a33;
}
.header {
  height: 10vh;
}

.text-blanco {
  color: #eae8e0;
}

.text-24 {
  font-size: 24px;
}
.text-20 {
  font-size: 20px;
}

.decoration-none {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}
