.bg-white {
  background-color: #eae8e0;
}

.text-blanco {
  color: #eae8e0;
}

.text-24 {
  font-size: 24px;
}

.text-20 {
  font-size: 20px;
}

.blue {
  background-color: #255380;
}

.decoration-none {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.vh-100 {
  height: 100vh;
}

/* Media queries for larger screens */
@media (min-width: 992px) {
  .sidebar-content {
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 0;
  }
}

/* Hide sidebar on mobile */
@media (max-width: 767px) {
  .sidebar-container {
    display: none !important;
  }
}